
html, body{
    width: 100%;
}
table:hover{
    margin: 0 auto;
    height: 60%;
    width: 100%;
    font-size: 25px;
    color:light blue 

}
tr:nth-child(even){
    background: #CCC;
}
tr:nth-child(odd){
    background: #FFF;
}
th{
    background: grey;
    color:white;
}
td:hover{
    color: gold;
}

button:hover{
    background-color:red;
    height: 40px;
    width: 40px;
}

th{
    font-family: cursive;
    padding: 2%;
}

tr:hover:nth-child(even){
    background: #FFF;
}
tr:hover:nth-child(odd){
    background:#CCC;
}

th:hover{
    color: forestgreen;
}

.home {
    height: 50px;
    width: 50px;
    background-color: black;
}
.home:hover {
    height:100px;
    width: 100px;
    font-size: 30px;
    background-color:lightblue;
    color:black;

}